/* /* 
/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


 body {
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
}
.profile {
    border-radius: 10px;
    background-color: #cf9595;
    height: 400px;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10%;
    box-shadow: 25px 29px 5px -3px rgba(168,134,134,0.39);
}
.image {
     background-color: black;
     width: 150px;
     height: 150px;
     border-radius: 50%;
     margin-top: 10%;
     align-items: center;
     justify-content: center;
     display: flex;
     overflow: hidden;
}
.socials {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
}
.call-to-action {
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
} 
button {
    border: none;
    outline: none;
    width: 40%;
    height: 100%;
    border-radius: 10px;
    color: white;
    background-color: #8a3324;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
button:hover {
    background-color: black;
}

button:active {
    scale: 2;
}